**Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’
Remove last item from the list**

In [2]:
a = [2,3,4,5,6,7]

In [12]:
a.append('mango')

In [13]:
a.append('banana')

In [15]:
a.append('grapes')

In [16]:
a.append('orange')

In [18]:
a[5] = 'apple'

In [19]:
a

[2, 3, 4, 5, 6, 'apple', 'mango', 'mango', 'banana', 'grapes', 'orange']

In [20]:
a.pop()

'orange'

In [21]:
a

[2, 3, 4, 5, 6, 'apple', 'mango', 'mango', 'banana', 'grapes']

Q2.
L = [1,2,3,4,5,6,7]
Using the above list slice from 1:4

In [22]:
L = [ 1,2,3,4,5,6,7]

In [23]:
L[1:4]

[2, 3, 4]

**Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.**

In [24]:
L= [4,5,6,8,3]

In [26]:
L[::-1]

[3, 8, 6, 5, 4]

**Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]**

In [41]:
L = [2,3,7,3,6,8]

[i**2 for i in L]

[4, 9, 49, 9, 36, 64]

**Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.**

In [42]:
t = (2,4,6,7,4,8,2)

In [46]:
def sum_tuple(t):
    sum = 0
    for i in t:
        sum += i
    print(sum)

In [47]:
sum_tuple(t)

33

**Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.**

In [56]:
fruits_set1 = {'Apple', 'Mango','Banana','orange'}
fruits_set2 = {'Grapes', 'Pineapple','Kiwi','Mango','Orange'}

In [57]:
fruits_set1.union(fruits_set2)

{'Apple', 'Banana', 'Grapes', 'Kiwi', 'Mango', 'Orange', 'Pineapple', 'orange'}

**Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.**

In [62]:
random_set = {'Hello', 'Sudhanshu', 'Greeting'}

In [65]:
random_set.add('This_is_me')

In [66]:
random_set

{'Greeting', 'Hello', 'Sudhanshu', 'This_is_me'}

**Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.**

In [67]:
animals = {'Tiger', 'Lion','Elephant','Dog','Cat'}

In [68]:
animals.remove('Dog')

In [69]:
animals

{'Cat', 'Elephant', 'Lion', 'Tiger'}

**Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
Use the zip() function to combine the book set and movie list into a list of tuples representing book/
movie pairs. Print the resulting list.**

In [70]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

In [77]:
combine = list(zip(favorite_books,favorite_movies))

In [78]:
combine

[('Pride and Prejudice', 'The Shawshank Redemption'),
 ('1984', 'The Godfather'),
 ('To Kill a Mockingbird', 'The Dark Knight')]

**Q10. Write a Python program to find the difference between consecutive numbers in a list.**

In [86]:
def find_diff_consecutive_numbers(lst):
    diffs = []
    for i in range(1, len(lst)):
        diff = lst[i] - lst[i-1]
        diffs.append(diff)
        return diffs

In [87]:
my_list = [5, 9, 12, 18, 22]


find_diff_consecutive_numbers(my_list)

[4]